<section class="promo">
    <div class="container">
        <div class="promo__container">
            <div class="promo__content">
                <div class="promo__subtitle">
                    <span>Національна програма мобільності молоді</span>
                </div>
                <div class="promo__title title-h1">
                    <h1>Мандруй! Уявляй! Відкривай!</h1>
                </div>
                <div class="promo__text">
                    <p>Найбільша в Центральній та Східній Європі 7-денна програма внутрішніх обмінів для молоді віком від 14 до 21 року. Її ініціатором є Міністерство культури, молоді та спорту України, в основу діяльності якого покладені демократичні цінності та принципи всебічного розвитку особистості.</p>
                </div>
                <div class="promo__btn">
                    <a href="" class="btn">Стати учасником програми МУВ</a>
                </div>
            </div>
            <div class="promo__img">
                <img src="img/promo_bg.webp" width="370" height="455" alt="" role="presentation">
            </div>
        </div>
    </div>
</section>