:root {

  --primary: #FEDA00;
  --secondary: #5DBDFB;
  --secondary-hover: #51b1ea;

  --white: #fff;
  --black: #1F1C4E;

  --grey: #707683;
  --grey-light: #F5F5F5;

  --hover-transition: 0.3s ease-in-out;

  --font-roboto: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}